body{
    background: var(--bg);
}

*{   /* seletor * é universal e se aplica a todos os elementos da página*/
    color: var(--fontColor);
    font-family: helvetica;
}

ul{
    font-family: helvetica; /* familia da fonte */
}

li{
    list-style: circle; /* estilo da lista : circulo*/
}

.list {  /* puxa a classe selecionada nos "li" e estiliza*/
    list-style: square; /* estilo da lista : quadrado*/
}


:root{ /* O seletor :root representa o elemento <html> na pagina do html (adicionar tema escuro) */
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

.dark-theme{
    --bg: var(--black);  /*bg é uma variável que define a cor da tela de fundo (backgroud) */
    --fontColor: var(--green); /* fontColor é uma variável que define a cor da fonte */
    --btnBg:var(--white);
    --btnFontColor: var(--black);


}

.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg:var(--black);
    --btnFontColor: var(--white);
}

.btn{
    color: var(--btnFontColor);
    background: var(--btnBg);
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {outline-style: none} /* Ao definir a regra de outline-style como none, você elimina um contorno retangular quando o botão é selecionado*/